<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="stats">Estatísticas</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
			<div>
				<table>
					<tr>
						<td>Resumo</td>
						<td>
							<input type="text" name="system.resumo" value="{{item.system.resumo}}" />
						</td>
					</tr>
				</table>
			</div>
            <div>
				<label>Descrição</label>
				<div class="item-description">
					{{editor descricao target="system.descricao" button=true editable=editable}}	
				</div>
			</div>
        </div>
		
        {{!-- Stats Tab --}}
        <div class="tab" data-group="primary" data-tab="stats">
			<div>
				<table>
					<tr>
						<td>Custo</td>
						<td>
							<input name="system.custo" type="text" value="{{item.system.custo}}" />
						</td>
					</tr>
					<tr>
						<td>Casta</td>
						<td>
							<input name="system.casta" type="text" value="{{item.system.casta}}" />
						</td>
					</tr>
				</table>
			</div>
        </div>
    </section>
</form>
